<!doctype html>
<html ng-app>
<head>
  <title>Hello Butler</title>
  <script src="angular.min.js"></script>
  <script src="hello.js"></script>
</head>

<body>
  <div ng-controller="Hello">
    <p>The ID is: {{greeting.id}}</p>
    <p>The content is: {{greeting.content}}</p>
  </div>

  <img src="jenkins.png" alt="Jenkins" />
</body>
</html>